## AIRLINES

In [2]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
df=pd.read_excel('Data_Train.xlsx')

In [4]:
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [6]:
df.describe()

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [7]:
df.describe(include='O')

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
count,10683,10683,10683,10683,10682,10683,10683,10683,10682,10683
unique,12,44,5,6,128,222,1343,368,5,10
top,Jet Airways,18/05/2019,Delhi,Cochin,DEL → BOM → COK,18:55,19:00,2h 50m,1 stop,No info
freq,3849,504,4537,4537,2376,233,423,550,5625,8345

In [8]:
df.isna().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [9]:
df['Additional_Info'].value_counts()

Additional_Info
No info                         8345
In-flight meal not included     1982
No check-in baggage included     320
1 Long layover                    19
Change airports                    7
Business class                     4
No Info                            3
1 Short layover                    1
Red-eye flight                     1
2 Long layover                     1
Name: count, dtype: int64

In [10]:
df.drop('Additional_Info',axis=1,inplace=True)

In [11]:
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,13302
...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,11753

In [12]:
df.dropna(inplace=True)

In [13]:
df.shape

(10682, 10)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Date_of_Journey  10682 non-null  object
 2   Source           10682 non-null  object
 3   Destination      10682 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10682 non-null  object
 6   Arrival_Time     10682 non-null  object
 7   Duration         10682 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Price            10682 non-null  int64
dtypes: int64(1), object(9)
memory usage: 918.0+ KB

In [15]:
df['Date_of_Journey'] = pd.to_datetime(df['Date_of_Journey'])

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Date_of_Journey  10682 non-null  datetime64[ns]
 2   Source           10682 non-null  object
 3   Destination      10682 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10682 non-null  object
 6   Arrival_Time     10682 non-null  object
 7   Duration         10682 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Price            10682 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 918.0+ KB

In [17]:
df.loc[1]['Date_of_Journey']

Timestamp('2019-05-01 00:00:00')

In [18]:
df.loc[1]['Date_of_Journey'].year

2019

In [19]:
df['day_of_Journey'] = df['Date_of_Journey'].dt.day

In [20]:
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Price,day_of_Journey
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,3897,24
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,7662,1
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,13882,9
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,6218,12
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,13302,1
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,4107,9
10679,Air India,2019-04-27,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,4145,27
10680,Jet Airways,2019-04-27,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,7229,27
10681,Vistara,2019-03-01,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,12648,1
10682,Air India,2019-05-09,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,11753,9

In [21]:
df['month_of_Journey'] = df['Date_of_Journey'].dt.month

In [22]:
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Price,day_of_Journey,month_of_Journey
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,3897,24,3
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,7662,1,5
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,13882,9,6
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,6218,12,5
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,13302,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,4107,9,4
10679,Air India,2019-04-27,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,4145,27,4
10680,Jet Airways,2019-04-27,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,7229,27,4
10681,Vistara,2019-03-01,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,12648,1,3
10682,Air India,2019-05-09,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,11753,9,5

In [23]:
df['year_of_Journey'] = df['Date_of_Journey'].dt.year

In [24]:
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Price,day_of_Journey,month_of_Journey,year_of_Journey
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,3897,24,3,2019
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,7662,1,5,2019
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,13882,9,6,2019
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,6218,12,5,2019
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,13302,1,3,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,4107,9,4,2019
10679,Air India,2019-04-27,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,4145,27,4,2019
10680,Jet Airways,2019-04-27,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,7229,27,4,2019
10681,Vistara,2019-03-01,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,12648,1,3,2019
10682,Air India,2019-05-09,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,11753,9,5,2019

In [25]:
df.drop('Date_of_Journey',axis=1,inplace=True)

In [26]:
df.drop('year_of_Journey',axis=1,inplace=True)

In [27]:
df

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Price,day_of_Journey,month_of_Journey
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,3897,24,3
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,7662,1,5
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,13882,9,6
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,6218,12,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,13302,1,3
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,4107,9,4
10679,Air India,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,4145,27,4
10680,Jet Airways,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,7229,27,4
10681,Vistara,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,12648,1,3
10682,Air India,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,11753,9,5

In [28]:
for i in ['Dep_Time','Arrival_Time'] :
    df[i] = pd.to_datetime(df[i])

In [29]:
 df

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Price,day_of_Journey,month_of_Journey
0,IndiGo,Banglore,New Delhi,BLR → DEL,2025-07-30 22:20:00,2025-03-22 01:10:00,2h 50m,non-stop,3897,24,3
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,2025-07-30 05:50:00,2025-07-30 13:15:00,7h 25m,2 stops,7662,1,5
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,2025-07-30 09:25:00,2025-06-10 04:25:00,19h,2 stops,13882,9,6
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,2025-07-30 18:05:00,2025-07-30 23:30:00,5h 25m,1 stop,6218,12,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,2025-07-30 16:50:00,2025-07-30 21:35:00,4h 45m,1 stop,13302,1,3
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU → BLR,2025-07-30 19:55:00,2025-07-30 22:25:00,2h 30m,non-stop,4107,9,4
10679,Air India,Kolkata,Banglore,CCU → BLR,2025-07-30 20:45:00,2025-07-30 23:20:00,2h 35m,non-stop,4145,27,4
10680,Jet Airways,Banglore,Delhi,BLR → DEL,2025-07-30 08:20:00,2025-07-30 11:20:00,3h,non-stop,7229,27,4
10681,Vistara,Banglore,New Delhi,BLR → DEL,2025-07-30 11:30:00,2025-07-30 14:10:00,2h 40m,non-stop,12648,1,3
10682,Air India,Delhi,Cochin,DEL → GOI → BOM → COK,2025-07-30 10:55:00,2025-07-30 19:15:00,8h 20m,2 stops,11753,9,5

In [30]:
df

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Price,day_of_Journey,month_of_Journey
0,IndiGo,Banglore,New Delhi,BLR → DEL,2025-07-30 22:20:00,2025-03-22 01:10:00,2h 50m,non-stop,3897,24,3
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,2025-07-30 05:50:00,2025-07-30 13:15:00,7h 25m,2 stops,7662,1,5
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,2025-07-30 09:25:00,2025-06-10 04:25:00,19h,2 stops,13882,9,6
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,2025-07-30 18:05:00,2025-07-30 23:30:00,5h 25m,1 stop,6218,12,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,2025-07-30 16:50:00,2025-07-30 21:35:00,4h 45m,1 stop,13302,1,3
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU → BLR,2025-07-30 19:55:00,2025-07-30 22:25:00,2h 30m,non-stop,4107,9,4
10679,Air India,Kolkata,Banglore,CCU → BLR,2025-07-30 20:45:00,2025-07-30 23:20:00,2h 35m,non-stop,4145,27,4
10680,Jet Airways,Banglore,Delhi,BLR → DEL,2025-07-30 08:20:00,2025-07-30 11:20:00,3h,non-stop,7229,27,4
10681,Vistara,Banglore,New Delhi,BLR → DEL,2025-07-30 11:30:00,2025-07-30 14:10:00,2h 40m,non-stop,12648,1,3
10682,Air India,Delhi,Cochin,DEL → GOI → BOM → COK,2025-07-30 10:55:00,2025-07-30 19:15:00,8h 20m,2 stops,11753,9,5

In [31]:
df['Arrival_Time_hr'] = df['Arrival_Time'].dt.hour
df['Arrival_Time_min'] = df['Arrival_Time'].dt.minute
df['Dep_Time_hr'] = df['Dep_Time'].dt.hour
df['Dep_Time_min'] = df['Dep_Time'].dt.minute

In [32]:
df

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Price,day_of_Journey,month_of_Journey,Arrival_Time_hr,Arrival_Time_min,Dep_Time_hr,Dep_Time_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2025-07-30 22:20:00,2025-03-22 01:10:00,2h 50m,non-stop,3897,24,3,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,2025-07-30 05:50:00,2025-07-30 13:15:00,7h 25m,2 stops,7662,1,5,13,15,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,2025-07-30 09:25:00,2025-06-10 04:25:00,19h,2 stops,13882,9,6,4,25,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,2025-07-30 18:05:00,2025-07-30 23:30:00,5h 25m,1 stop,6218,12,5,23,30,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,2025-07-30 16:50:00,2025-07-30 21:35:00,4h 45m,1 stop,13302,1,3,21,35,16,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU → BLR,2025-07-30 19:55:00,2025-07-30 22:25:00,2h 30m,non-stop,4107,9,4,22,25,19,55
10679,Air India,Kolkata,Banglore,CCU → BLR,2025-07-30 20:45:00,2025-07-30 23:20:00,2h 35m,non-stop,4145,27,4,23,20,20,45
10680,Jet Airways,Banglore,Delhi,BLR → DEL,2025-07-30 08:20:00,2025-07-30 11:20:00,3h,non-stop,7229,27,4,11,20,8,20
10681,Vistara,Banglore,New Delhi,BLR → DEL,2025-07-30 11:30:00,2025-07-30 14:10:00,2h 40m,non-stop,12648,1,3,14,10,11,30
10682,Air India,Delhi,Cochin,DEL → GOI → BOM → COK,2025-07-30 10:55:00,2025-07-30 19:15:00,8h 20m,2 stops,11753,9,5,19,15,10,55

In [33]:
for i in ['Dep_Time','Arrival_Time'] :
          df.drop(i,axis=1,inplace=True)

In [34]:
df

,Airline,Source,Destination,Route,Duration,Total_Stops,Price,day_of_Journey,month_of_Journey,Arrival_Time_hr,Arrival_Time_min,Dep_Time_hr,Dep_Time_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,3897,24,3,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,7662,1,5,13,15,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,13882,9,6,4,25,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,6218,12,5,23,30,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,13302,1,3,21,35,16,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU → BLR,2h 30m,non-stop,4107,9,4,22,25,19,55
10679,Air India,Kolkata,Banglore,CCU → BLR,2h 35m,non-stop,4145,27,4,23,20,20,45
10680,Jet Airways,Banglore,Delhi,BLR → DEL,3h,non-stop,7229,27,4,11,20,8,20
10681,Vistara,Banglore,New Delhi,BLR → DEL,2h 40m,non-stop,12648,1,3,14,10,11,30
10682,Air India,Delhi,Cochin,DEL → GOI → BOM → COK,8h 20m,2 stops,11753,9,5,19,15,10,55

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           10682 non-null  object
 1   Source            10682 non-null  object
 2   Destination       10682 non-null  object
 3   Route             10682 non-null  object
 4   Duration          10682 non-null  object
 5   Total_Stops       10682 non-null  object
 6   Price             10682 non-null  int64
 7   day_of_Journey    10682 non-null  int32
 8   month_of_Journey  10682 non-null  int32
 9   Arrival_Time_hr   10682 non-null  int32
 10  Arrival_Time_min  10682 non-null  int32
 11  Dep_Time_hr       10682 non-null  int32
 12  Dep_Time_min      10682 non-null  int32
dtypes: int32(6), int64(1), object(6)
memory usage: 1.1+ MB

In [36]:
df['Total_Stops'].value_counts()

Total_Stops
1 stop      5625
non-stop    3491
2 stops     1520
3 stops       45
4 stops        1
Name: count, dtype: int64

In [37]:
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', '4 stops'],
      dtype=object)

In [38]:
df['Total_Stops'] = df['Total_Stops'].map({'non-stop':0, '2 stops':1, '1 stop':2, '3 stops':3, '4 stops':4})

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           10682 non-null  object
 1   Source            10682 non-null  object
 2   Destination       10682 non-null  object
 3   Route             10682 non-null  object
 4   Duration          10682 non-null  object
 5   Total_Stops       10682 non-null  int64
 6   Price             10682 non-null  int64
 7   day_of_Journey    10682 non-null  int32
 8   month_of_Journey  10682 non-null  int32
 9   Arrival_Time_hr   10682 non-null  int32
 10  Arrival_Time_min  10682 non-null  int32
 11  Dep_Time_hr       10682 non-null  int32
 12  Dep_Time_min      10682 non-null  int32
dtypes: int32(6), int64(2), object(5)
memory usage: 1.1+ MB

In [40]:
[i for i in df.columns]

['Airline',
 'Source',
 'Destination',
 'Route',
 'Duration',
 'Total_Stops',
 'Price',
 'day_of_Journey',
 'month_of_Journey',
 'Arrival_Time_hr',
 'Arrival_Time_min',
 'Dep_Time_hr',
 'Dep_Time_min']

In [41]:
[i for i in df.columns if df[i].dtype=='O']

['Airline', 'Source', 'Destination', 'Route', 'Duration']

In [42]:
for i in [i for i in df.columns if df[i].dtype=='O'] :
    print(df[i].nunique())
    #print(df[i].value_counts())

12
5
6
128
368

In [43]:
 def get_hr(x):
     return int(x.split()[0].strip('h'))

In [44]:
 def get_min(x):
     return int(x.split()[1].strip('m'))

In [45]:
df['Duration']

0        2h 50m
1        7h 25m
2           19h
3        5h 25m
4        4h 45m
          ...
10678    2h 30m
10679    2h 35m
10680        3h
10681    2h 40m
10682    8h 20m
Name: Duration, Length: 10682, dtype: object

In [46]:
duration = list(df['Duration'])

In [47]:
len('1h 5m'.split())

2

In [48]:
for i in range(len(duration)):
    if len(duration[i].split())==2:
        pass
    else:
        if 'h' in duration[i]:
            duration[i] = duration[i]+' 0m'
        else:
            duration[i] = '0h '+duration[i]

In [49]:
duration

['2h 50m',
 '7h 25m',
 '19h 0m',
 '5h 25m',
 '4h 45m',
 '2h 25m',
 '15h 30m',
 '21h 5m',
 '25h 30m',
 '7h 50m',
 '13h 15m',
 '2h 35m',
 '2h 15m',
 '12h 10m',
 '2h 35m',
 '26h 35m',
 '4h 30m',
 '22h 35m',
 '23h 0m',
 '20h 35m',
 '5h 10m',
 '15h 20m',
 '2h 50m',
 '2h 55m',
 '13h 20m',
 '15h 10m',
 '5h 45m',
 '5h 55m',
 '2h 50m',
 '2h 15m',
 '2h 15m',
 '13h 25m',
 '2h 50m',
 '22h 0m',
 '5h 30m',
 '10h 25m',
 '5h 15m',
 '2h 30m',
 '6h 15m',
 '11h 55m',
 '11h 5m',
 '8h 30m',
 '22h 5m',
 '2h 45m',
 '12h 0m',
 '2h 50m',
 '2h 50m',
 '2h 15m',
 '16h 5m',
 '19h 55m',
 '3h 15m',
 '25h 20m',
 '2h 50m',
 '3h 0m',
 '2h 50m',
 '16h 15m',
 '15h 5m',
 '2h 15m',
 '6h 30m',
 '25h 5m',
 '12h 25m',
 '27h 20m',
 '10h 15m',
 '10h 30m',
 '2h 15m',
 '10h 25m',
 '2h 50m',
 '1h 30m',
 '13h 20m',
 '2h 15m',
 '1h 25m',
 '26h 30m',
 '7h 20m',
 '13h 30m',
 '5h 0m',
 '2h 45m',
 '2h 50m',
 '1h 30m',
 '19h 5m',
 '2h 15m',
 '14h 50m',
 '2h 40m',
 '22h 10m',
 '9h 35m',
 '10h 0m',
 '21h 20m',
 '5h 25m',
 '18h 45m',
 '12h 20m',
 '18h 0m',
 '9h 15m',
 '11h 5m',
 '17h 30m',
 '13h 20m',
 '2h 35m',
 '2h 25m',
 '2h 40m',
 '3h 0m',
 '1h 25m',
 '16h 35m',
 '12h 20m',
 '12h 15m',
 '7h 30m',
 '24h 0m',
 '2h 45m',
 '8h 55m',
 '7h 10m',
 '14h 30m',
 '30h 20m',
 '19h 55m',
 '15h 0m',
 '2h 55m',
 '12h 45m',
 '10h 10m',
 '5h 55m',
 '15h 25m',
 '16h 5m',
 '10h 10m',
 '2h 40m',
 '11h 55m',
 '2h 40m',
 '1h 25m',
 '14h 5m',
 '20h 15m',
 '2h 25m',
 '23h 10m',
 '18h 10m',
 '16h 0m',
 '2h 50m',
 '2h 20m',
 '8h 0m',
 '16h 55m',
 '3h 10m',
 '2h 45m',
 '14h 0m',
 '23h 50m',
 '21h 40m',
 '21h 15m',
 '2h 45m',
 '10h 50m',
 '8h 0m',
 '8h 15m',
 '5h 25m',
 '8h 35m',
 '11h 50m',
 '27h 35m',
 '8h 25m',
 '20h 55m',
 '4h 50m',
 '8h 10m',
 '2h 20m',
 '24h 25m',
 '2h 50m',
 '12h 20m',
 '12h 15m',
 '23h 35m',
 '16h 35m',
 '2h 50m',
 '25h 45m',
 '26h 10m',
 '28h 50m',
 '2h 45m',
 '25h 15m',
 '9h 20m',
 '4h 30m',
 '15h 25m',
 '1h 30m',
 '2h 40m',
 '9h 10m',
 '2h 45m',
 '22h 35m',
 '3h 5m',
 '11h 30m',
 '9h 30m',
 '12h 10m',
 '17h 35m',
 '5h 5m',
 '25h 50m',
 '20h 0m',
 '13h 0m',
 '18h 25m',
 '1h 30m',
 '9h 30m',
 '16h 0m',
 '2h 20m',
 '4h 30m',
 '5h 45m',
 '24h 10m',
 '2h 35m',
 '2h 45m',
 '4h 55m',
 '25h 35m',
 '6h 20m',
 '3h 5m',
 '18h 40m',
 '2h 15m',
 '12h 10m',
 '19h 25m',
 '2h 50m',
 '8h 25m',
 '9h 15m',
 '2h 50m',
 '3h 15m',
 '2h 50m',
 '12h 20m',
 '2h 55m',
 '9h 35m',
 '2h 35m',
 '9h 30m',
 '29h 20m',
 '2h 55m',
 '5h 15m',
 '9h 5m',
 '10h 45m',
 '4h 55m',
 '1h 30m',
 '11h 40m',
 '2h 45m',
 '2h 55m',
 '10h 0m',
 '2h 45m',
 '10h 15m',
 '1h 25m',
 '9h 15m',
 '22h 55m',
 '28h 50m',
 '37h 25m',
 '2h 50m',
 '1h 30m',
 '1h 30m',
 '25h 40m',
 '2h 35m',
 '6h 15m',
 '17h 30m',
 '5h 45m',
 '2h 35m',
 '25h 30m',
 '13h 55m',
 '2h 55m',
 '10h 15m',
 '8h 40m',
 '5h 30m',
 '12h 0m',
 '2h 15m',
 '2h 15m',
 '2h 50m',
 '9h 10m',
 '10h 25m',
 '2h 20m',
 '4h 30m',
 '3h 10m',
 '23h 30m',
 '27h 20m',
 '12h 35m',
 '24h 15m',
 '1h 20m',
 '2h 45m',
 '3h 0m',
 '11h 0m',
 '13h 30m',
 '2h 50m',
 '2h 55m',
 '2h 45m',
 '11h 15m',
 '14h 35m',
 '13h 55m',
 '14h 5m',
 '15h 5m',
 '2h 15m',
 '15h 0m',
 '12h 55m',
 '9h 0m',
 '12h 15m',
 '7h 40m',
 '27h 20m',
 '1h 25m',
 '1h 20m',
 '5h 30m',
 '11h 45m',
 '3h 15m',
 '24h 55m',
 '27h 20m',
 '2h 55m',
 '17h 5m',
 '2h 40m',
 '8h 0m',
 '3h 0m',
 '27h 35m',
 '7h 30m',
 '22h 55m',
 '8h 35m',
 '29h 55m',
 '22h 15m',
 '1h 20m',
 '2h 40m',
 '3h 0m',
 '12h 10m',
 '2h 35m',
 '11h 45m',
 '2h 35m',
 '1h 30m',
 '2h 40m',
 '2h 35m',
 '22h 55m',
 '14h 40m',
 '15h 25m',
 '7h 15m',
 '20h 10m',
 '20h 45m',
 '2h 30m',
 '23h 50m',
 '27h 0m',
 '5h 30m',
 '11h 50m',
 '2h 15m',
 '24h 30m',
 '2h 20m',
 '6h 30m',
 '20h 25m',
 '2h 35m',
 '2h 55m',
 '5h 35m',
 '2h 30m',
 '14h 45m',
 '12h 20m',
 '25h 30m',
 '5h 35m',
 '11h 45m',
 '2h 55m',
 '5h 40m',
 '4h 5m',
 '8h 0m',
 '2h 45m',
 '2h 40m',
 '2h 55m',
 '15h 55m',
 '23h 10m',
 '7h 20m',
 '2h 50m',
 '7h 30m',
 '3h 0m',
 '7h 45m',
 '25h 20m',
 '10h 25m',
 '30h 20m',
 '2h 35m',
 '9h 0m',
 '15h 10m',
 '28h 20m',
 '3h 0m',
 '2h 45m',
 '4h 55m',
 '2h 40m',
 '22h 10m',
 '10h 10m',
 '2h 50m',
 '4h 20m',
 '11h 0m',
 '3h 0m',
 '22h 35m',
 '3h 5m',
 '2h 40m',
 '2h 50m',
 '21h 5m',
 '11h 50m',
 '25h 35m',
 '15h 25m',
 '2h 25m',
 '3h 40m',
 '2h 55m',
 '3h 10m',
 '11h 50m',
 '2h 50m',
 '2h 50m',
 '1h 30m',
 '11h 30m',
 '8h 50m',
 '20h 15m',
 '20h 10m',
 '16h 5m',
 '12h 35m',
 '17h 5m',
 '3h 0m',
 '15h 30m',
 '11h 30m',
 '2h 20m',
 '23h 45m',
 '1h 30m',
 '2h 35m',
 '24h 45m',
 '21h 35m',
 '5h 30m',
 '12h 15m',
 '8h 5m',
 '5h 0m',
 '2h 50m',
 '6h 25m',
 '2h 20m',
 '2h 45m',
 '12h 45m',
 '15h 50m',
 '27h 0m',
 '26h 25m',
 '2h 55m',
 '24h 50m',
 '8h 40m',
 '25h 45m',
 '2h 50m',
 '6h 15m',
 '10h 30m',
 '26h 0m',
 '17h 5m',
 '21h 20m',
 '5h 35m',
 '2h 50m',
 '25h 50m',
 '12h 10m',
 '17h 5m',
 '8h 30m',
 '23h 5m',
 '9h 20m',
 '7h 55m',
 '1h 30m',
 '2h 50m',
 '2h 15m',
 '10h 0m',
 '2h 35m',
 '7h 45m',
 '2h 55m',
 '26h 20m',
 '2h 40m',
 '11h 0m',
 '19h 25m',
 '2h 55m',
 '2h 45m',
 '23h 15m',
 '9h 0m',
 '3h 10m',
 '6h 25m',
 '8h 40m',
 '2h 50m',
 '12h 20m',
 '5h 20m',
 '4h 0m',
 '9h 45m',
 '2h 55m',
 '26h 20m',
 '2h 15m',
 '9h 45m',
 '24h 55m',
 '11h 55m',
 '8h 20m',
 '17h 25m',
 '2h 50m',
 '7h 5m',
 '21h 15m',
 '5h 0m',
 '2h 25m',
 '5h 15m',
 '15h 10m',
 '11h 45m',
 '3h 0m',
 '4h 55m',
 '2h 45m',
 '2h 30m',
 '9h 45m',
 '2h 40m',
 '6h 30m',
 '5h 30m',
 '2h 40m',
 '34h 5m',
 '15h 25m',
 '9h 30m',
 '6h 5m',
 '2h 40m',
 '5h 50m',
 '2h 45m',
 '27h 20m',
 '3h 0m',
 '5h 15m',
 '16h 0m',
 '7h 0m',
 '8h 40m',
 '9h 0m',
 '2h 20m',
 '2h 20m',
 '6h 20m',
 '4h 25m',
 '2h 20m',
 '11h 5m',
 '16h 55m',
 '13h 45m',
 '25h 45m',
 '13h 55m',
 '5h 15m',
 '19h 15m',
 '7h 30m',
 '9h 0m',
 '24h 0m',
 '18h 10m',
 '2h 55m',
 '1h 30m',
 '21h 20m',
 '6h 15m',
 '14h 30m',
 '1h 20m',
 '12h 55m',
 '2h 25m',
 '22h 30m',
 '22h 55m',
 '5h 25m',
 '1h 25m',
 '7h 15m',
 '12h 20m',
 '20h 10m',
 '21h 15m',
 '2h 15m',
 '10h 30m',
 '14h 5m',
 '2h 50m',
 '16h 25m',
 '5h 15m',
 '13h 50m',
 '2h 15m',
 '7h 15m',
 '27h 5m',
 '27h 35m',
 '5h 0m',
 '2h 50m',
 '2h 50m',
 '15h 20m',
 '5h 20m',
 '10h 10m',
 '27h 35m',
 '9h 35m',
 '28h 10m',
 '14h 0m',
 '2h 35m',
 '2h 55m',
 '2h 35m',
 '4h 40m',
 '2h 30m',
 '11h 15m',
 '7h 55m',
 '8h 50m',
 '1h 25m',
 '15h 40m',
 '2h 35m',
 '2h 55m',
 '13h 25m',
 '4h 35m',
 '18h 30m',
 '2h 15m',
 '38h 15m',
 '3h 5m',
 '25h 50m',
 '3h 10m',
 '2h 50m',
 '11h 30m',
 '6h 35m',
 '27h 35m',
 '2h 35m',
 '7h 30m',
 '3h 15m',
 '9h 35m',
 '12h 30m',
 '11h 20m',
 '3h 0m',
 '2h 35m',
 '1h 30m',
 '26h 10m',
 '4h 55m',
 '2h 45m',
 '8h 40m',
 '7h 5m',
 '2h 45m',
 '24h 50m',
 '2h 20m',
 '11h 0m',
 '9h 0m',
 '2h 55m',
 '3h 5m',
 '2h 35m',
 '13h 0m',
 '1h 25m',
 '7h 35m',
 '2h 40m',
 '12h 55m',
 '29h 20m',
 '5h 0m',
 '8h 40m',
 '3h 0m',
 '3h 0m',
 '2h 45m',
 '12h 10m',
 '2h 20m',
 '7h 55m',
 '29h 35m',
 '26h 55m',
 '12h 45m',
 '7h 35m',
 '2h 30m',
 '11h 45m',
 '23h 40m',
 '13h 50m',
 '12h 50m',
 '9h 50m',
 '2h 30m',
 '21h 55m',
 '26h 10m',
 '2h 55m',
 '20h 15m',
 '20h 10m',
 '10h 55m',
 '2h 30m',
 '21h 10m',
 '2h 35m',
 '20h 40m',
 '2h 50m',
 '6h 30m',
 '30h 0m',
 '13h 10m',
 '2h 55m',
 '18h 0m',
 '8h 0m',
 '8h 45m',
 '12h 30m',
 '13h 20m',
 '6h 10m',
 '7h 30m',
 '19h 15m',
 '2h 35m',
 '12h 0m',
 '3h 0m',
 '2h 50m',
 '1h 25m',
 '23h 5m',
 '2h 50m',
 '22h 5m',
 '2h 15m',
 '5h 45m',
 '2h 50m',
 '9h 30m',
 '8h 55m',
 '17h 45m',
 '2h 50m',
 '21h 45m',
 '12h 35m',
 '1h 30m',
 '2h 15m',
 '3h 55m',
 '2h 45m',
 '7h 30m',
 '17h 20m',
 '1h 30m',
 '1h 30m',
 '30h 30m',
 '5h 0m',
 '11h 15m',
 '2h 50m',
 '19h 5m',
 '6h 35m',
 '7h 30m',
 '2h 15m',
 '2h 45m',
 '12h 45m',
 '2h 50m',
 '26h 35m',
 '12h 55m',
 '1h 30m',
 '8h 40m',
 '14h 0m',
 '23h 30m',
 '29h 55m',
 '22h 10m',
 '4h 50m',
 '2h 45m',
 '13h 30m',
 '13h 20m',
 '2h 20m',
 '11h 55m',
 '5h 10m',
 '11h 45m',
 '13h 50m',
 '3h 0m',
 '6h 10m',
 '2h 20m',
 '10h 45m',
 '2h 15m',
 '2h 55m',
 '1h 30m',
 '7h 35m',
 '26h 35m',
 '4h 45m',
 '21h 25m',
 '8h 35m',
 '8h 30m',
 '2h 15m',
 '12h 40m',
 '8h 25m',
 '25h 40m',
 '2h 45m',
 '29h 20m',
 '2h 40m',
 '2h 50m',
 '2h 20m',
 '7h 15m',
 '20h 15m',
 '11h 45m',
 '2h 35m',
 '13h 30m',
 '1h 30m',
 '24h 35m',
 '20h 35m',
 '2h 50m',
 '4h 35m',
 '2h 20m',
 '11h 45m',
 '1h 30m',
 '12h 50m',
 '24h 30m',
 '11h 30m',
 '4h 0m',
 '11h 0m',
 '5h 25m',
 '2h 35m',
 '5h 10m',
 '10h 10m',
 '26h 55m',
 '7h 15m',
 '8h 10m',
 '2h 55m',
 '5h 15m',
 '2h 20m',
 '1h 25m',
 '4h 50m',
 '2h 20m',
 '2h 20m',
 '13h 15m',
 '19h 10m',
 '22h 40m',
 '14h 50m',
 '15h 10m',
 '7h 5m',
 '1h 25m',
 '2h 55m',
 '8h 0m',
 '2h 45m',
 '14h 55m',
 '1h 30m',
 '16h 15m',
 '2h 50m',
 '5h 0m',
 '22h 15m',
 '5h 30m',
 '8h 35m',
 '15h 25m',
 '21h 0m',
 '13h 30m',
 '2h 50m',
 '6h 45m',
 '1h 30m',
 '8h 40m',
 '1h 30m',
 '2h 50m',
 '2h 35m',
 '16h 5m',
 '23h 50m',
 '27h 5m',
 '16h 15m',
 '15h 25m',
 '2h 50m',
 '8h 35m',
 '13h 50m',
 '2h 40m',
 '2h 25m',
 '3h 10m',
 '2h 55m',
 '28h 40m',
 '2h 50m',
 '2h 35m',
 '9h 40m',
 '16h 40m',
 '6h 20m',
 '27h 0m',
 '14h 35m',
 '12h 10m',
 '7h 35m',
 '2h 20m',
 '19h 10m',
 '20h 0m',
 '3h 0m',
 '5h 10m',
 '2h 40m',
 '29h 35m',
 '4h 55m',
 '3h 0m',
 '12h 30m',
 '12h 35m',
 '26h 20m',
 '13h 15m',
 '2h 50m',
 '12h 45m',
 '16h 20m',
 '2h 40m',
 '8h 15m',
 '12h 0m',
 '2h 50m',
 '11h 0m',
 '2h 20m',
 '13h 50m',
 '8h 10m',
 '12h 10m',
 '2h 40m',
 '2h 45m',
 '2h 50m',
 '24h 0m',
 '3h 0m',
 '12h 35m',
 '25h 50m',
 '2h 55m',
 '17h 5m',
 '29h 20m',
 '8h 55m',
 '3h 5m',
 '9h 0m',
 '10h 25m',
 '16h 45m',
 '2h 45m',
 '26h 20m',
 '13h 15m',
 '10h 30m',
 '7h 35m',
 '11h 0m',
 '2h 50m',
 '25h 45m',
 '6h 25m',
 '1h 25m',
 '20h 10m',
 '11h 55m',
 '2h 50m',
 '5h 0m',
 '27h 0m',
 '2h 50m',
 '1h 15m',
 '10h 15m',
 '24h 50m',
 '2h 50m',
 '20h 0m',
 '5h 30m',
 '2h 45m',
 '6h 55m',
 '2h 45m',
 '5h 15m',
 '6h 15m',
 '2h 50m',
 '19h 25m',
 '2h 55m',
 '11h 25m',
 '14h 5m',
 '2h 45m',
 '3h 15m',
 '14h 20m',
 '12h 30m',
 '5h 20m',
 '26h 20m',
 '3h 5m',
 '1h 30m',
 '7h 5m',
 '6h 10m',
 '8h 0m',
 '12h 5m',
 '12h 55m',
 '9h 35m',
 '15h 10m',
 '11h 40m',
 '2h 55m',
 '4h 30m',
 '2h 40m',
 '2h 30m',
 '24h 10m',
 '28h 20m',
 '1h 25m',
 '10h 10m',
 '11h 30m',
 '2h 50m',
 '13h 45m',
 '6h 25m',
 '12h 55m',
 '4h 25m',
 '13h 30m',
 '24h 5m',
 '16h 5m',
 '8h 20m',
 '3h 40m',
 '9h 30m',
 '28h 15m',
 '13h 20m',
 '17h 50m',
 '20h 20m',
 '28h 5m',
 '15h 25m',
 '12h 5m',
 '10h 20m',
 '12h 25m',
 '7h 35m',
 '2h 50m',
 '4h 35m',
 '11h 15m',
 '2h 35m',
 '26h 0m',
 '2h 25m',
 '2h 35m',
 '14h 15m',
 '2h 35m',
 '22h 5m',
 '6h 35m',
 '8h 30m',
 '18h 45m',
 '35h 15m',
 '2h 15m',
 '2h 30m',
 '2h 20m',
 '2h 30m',
 '7h 35m',
 '35h 35m',
 '26h 30m',
 '11h 30m',
 '26h 40m',
 '3h 0m',
 '1h 30m',
 '2h 55m',
 '14h 15m',
 '16h 55m',
 '12h 20m',
 '29h 35m',
 '20h 20m',
 '8h 25m',
 '13h 50m',
 '10h 0m',
 '19h 25m',
 '28h 0m',
 '2h 50m',
 '17h 20m',
 '2h 45m',
 '2h 55m',
 '13h 25m',
 '12h 55m',
 '9h 45m',
 '21h 25m',
 '15h 40m',
 '2h 20m',
 '14h 25m',
 '2h 50m',
 '6h 35m',
 '22h 10m',
 '14h 25m',
 '2h 30m',
 '23h 35m',
 '13h 5m',
 '1h 30m',
 '5h 5m',
 '1h 20m',
 '22h 55m',
 '1h 30m',
 '2h 35m',
 '37h 20m',
 '2h 50m',
 '2h 50m',
 '36h 10m',
 '9h 15m',
 '1h 25m',
 '5h 5m',
 '2h 15m',
 '15h 10m',
 '25h 55m',
 '5h 40m',
 '7h 30m',
 '17h 45m',
 '2h 20m',
 '8h 15m',
 '3h 40m',
 '5h 55m',
 '2h 30m',
 '17h 30m',
 '13h 50m',
 '2h 15m',
 '21h 35m',
 '9h 30m',
 '8h 40m',
 '10h 25m',
 '35h 5m',
 '14h 15m',
 '3h 0m',
 '25h 50m',
 '2h 30m',
 '8h 40m',
 '10h 0m',
 '11h 30m',
 '7h 30m',
 ...]

In [50]:
df['Duration'] = duration

In [51]:
df['duration_hr'] = df['Duration'].apply(get_hr)
df['duration_min'] = df['Duration'].apply(get_min)

In [52]:
df

,Airline,Source,Destination,Route,Duration,Total_Stops,Price,day_of_Journey,month_of_Journey,Arrival_Time_hr,Arrival_Time_min,Dep_Time_hr,Dep_Time_min,duration_hr,duration_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0,3897,24,3,1,10,22,20,2,50
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,1,7662,1,5,13,15,5,50,7,25
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h 0m,1,13882,9,6,4,25,9,25,19,0
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,2,6218,12,5,23,30,18,5,5,25
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,2,13302,1,3,21,35,16,50,4,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU → BLR,2h 30m,0,4107,9,4,22,25,19,55,2,30
10679,Air India,Kolkata,Banglore,CCU → BLR,2h 35m,0,4145,27,4,23,20,20,45,2,35
10680,Jet Airways,Banglore,Delhi,BLR → DEL,3h 0m,0,7229,27,4,11,20,8,20,3,0
10681,Vistara,Banglore,New Delhi,BLR → DEL,2h 40m,0,12648,1,3,14,10,11,30,2,40
10682,Air India,Delhi,Cochin,DEL → GOI → BOM → COK,8h 20m,1,11753,9,5,19,15,10,55,8,20

In [53]:
df.drop('Duration',axis=1,inplace=True)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           10682 non-null  object
 1   Source            10682 non-null  object
 2   Destination       10682 non-null  object
 3   Route             10682 non-null  object
 4   Total_Stops       10682 non-null  int64
 5   Price             10682 non-null  int64
 6   day_of_Journey    10682 non-null  int32
 7   month_of_Journey  10682 non-null  int32
 8   Arrival_Time_hr   10682 non-null  int32
 9   Arrival_Time_min  10682 non-null  int32
 10  Dep_Time_hr       10682 non-null  int32
 11  Dep_Time_min      10682 non-null  int32
 12  duration_hr       10682 non-null  int64
 13  duration_min      10682 non-null  int64
dtypes: int32(6), int64(4), object(4)
memory usage: 1.2+ MB

In [55]:
cat_data = [i for i in df.columns if df[i].dtype=='O']
cont_data = [i for i in df.columns if df[i].dtype!='O']

In [56]:
cat_data

['Airline', 'Source', 'Destination', 'Route']

In [57]:
cont_data

['Total_Stops',
 'Price',
 'day_of_Journey',
 'month_of_Journey',
 'Arrival_Time_hr',
 'Arrival_Time_min',
 'Dep_Time_hr',
 'Dep_Time_min',
 'duration_hr',
 'duration_min']

In [58]:
cat = df[cat_data]

In [59]:
cat

           Airline    Source Destination                  Route
0           IndiGo  Banglore   New Delhi              BLR → DEL
1        Air India   Kolkata    Banglore  CCU → IXR → BBI → BLR
2      Jet Airways     Delhi      Cochin  DEL → LKO → BOM → COK
3           IndiGo   Kolkata    Banglore        CCU → NAG → BLR
4           IndiGo  Banglore   New Delhi        BLR → NAG → DEL
...            ...       ...         ...                    ...
10678     Air Asia   Kolkata    Banglore              CCU → BLR
10679    Air India   Kolkata    Banglore              CCU → BLR
10680  Jet Airways  Banglore       Delhi              BLR → DEL
10681      Vistara  Banglore   New Delhi              BLR → DEL
10682    Air India     Delhi      Cochin  DEL → GOI → BOM → COK

[10682 rows x 4 columns]

In [60]:
cont = df[cont_data]

## ONE-HOT ENCODING

In [62]:
Airline = pd.get_dummies(cat['Airline' ],dtype=int)
Source = pd.get_dummies(cat['Source'],dtype=int)
Destination = pd.get_dummies(cat['Destination'],dtype=int)

In [63]:
Airline

,Air Asia,Air India,GoAir,IndiGo,Jet Airways,Jet Airways Business,Multiple carriers,Multiple carriers Premium economy,SpiceJet,Trujet,Vistara,Vistara Premium economy
0,0,0,0,1,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
10678,1,0,0,0,0,0,0,0,0,0,0,0
10679,0,1,0,0,0,0,0,0,0,0,0,0
10680,0,0,0,0,1,0,0,0,0,0,0,0
10681,0,0,0,0,0,0,0,0,0,0,1,0
10682,0,1,0,0,0,0,0,0,0,0,0,0

In [64]:
Source

       Banglore  Chennai  Delhi  Kolkata  Mumbai
0             1        0      0        0       0
1             0        0      0        1       0
2             0        0      1        0       0
3             0        0      0        1       0
4             1        0      0        0       0
...         ...      ...    ...      ...     ...
10678         0        0      0        1       0
10679         0        0      0        1       0
10680         1        0      0        0       0
10681         1        0      0        0       0
10682         0        0      1        0       0

[10682 rows x 5 columns]

In [65]:
Destination

       Banglore  Cochin  Delhi  Hyderabad  Kolkata  New Delhi
0             0       0      0          0        0          1
1             1       0      0          0        0          0
2             0       1      0          0        0          0
3             1       0      0          0        0          0
4             0       0      0          0        0          1
...         ...     ...    ...        ...      ...        ...
10678         1       0      0          0        0          0
10679         1       0      0          0        0          0
10680         0       0      1          0        0          0
10681         0       0      0          0        0          1
10682         0       1      0          0        0          0

[10682 rows x 6 columns]

In [66]:
new_df = pd.concat([Airline,Source,Destination,cont],axis=1)

In [67]:
new_df

,Air Asia,Air India,GoAir,IndiGo,Jet Airways,Jet Airways Business,Multiple carriers,Multiple carriers Premium economy,SpiceJet,Trujet,...,Total_Stops,Price,day_of_Journey,month_of_Journey,Arrival_Time_hr,Arrival_Time_min,Dep_Time_hr,Dep_Time_min,duration_hr,duration_min
0,0,0,0,1,0,0,0,0,0,0,...,0,3897,24,3,1,10,22,20,2,50
1,0,1,0,0,0,0,0,0,0,0,...,1,7662,1,5,13,15,5,50,7,25
2,0,0,0,0,1,0,0,0,0,0,...,1,13882,9,6,4,25,9,25,19,0
3,0,0,0,1,0,0,0,0,0,0,...,2,6218,12,5,23,30,18,5,5,25
4,0,0,0,1,0,0,0,0,0,0,...,2,13302,1,3,21,35,16,50,4,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,1,0,0,0,0,0,0,0,0,0,...,0,4107,9,4,22,25,19,55,2,30
10679,0,1,0,0,0,0,0,0,0,0,...,0,4145,27,4,23,20,20,45,2,35
10680,0,0,0,0,1,0,0,0,0,0,...,0,7229,27,4,11,20,8,20,3,0
10681,0,0,0,0,0,0,0,0,0,0,...,0,12648,1,3,14,10,11,30,2,40
10682,0,1,0,0,0,0,0,0,0,0,...,1,11753,9,5,19,15,10,55,8,20

In [68]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 33 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Air Asia                           10682 non-null  int32
 1   Air India                          10682 non-null  int32
 2   GoAir                              10682 non-null  int32
 3   IndiGo                             10682 non-null  int32
 4   Jet Airways                        10682 non-null  int32
 5   Jet Airways Business               10682 non-null  int32
 6   Multiple carriers                  10682 non-null  int32
 7   Multiple carriers Premium economy  10682 non-null  int32
 8   SpiceJet                           10682 non-null  int32
 9   Trujet                             10682 non-null  int32
 10  Vistara                            10682 non-null  int32
 11  Vistara Premium economy            10682 non-null  int32
 12  Banglore                           10682 non-null  int32
 13  Chennai                            10682 non-null  int32
 14  Delhi                              10682 non-null  int32
 15  Kolkata                            10682 non-null  int32
 16  Mumbai                             10682 non-null  int32
 17  Banglore                           10682 non-null  int32
 18  Cochin                             10682 non-null  int32
 19  Delhi                              10682 non-null  int32
 20  Hyderabad                          10682 non-null  int32
 21  Kolkata                            10682 non-null  int32
 22  New Delhi                          10682 non-null  int32
 23  Total_Stops                        10682 non-null  int64
 24  Price                              10682 non-null  int64
 25  day_of_Journey                     10682 non-null  int32
 26  month_of_Journey                   10682 non-null  int32
 27  Arrival_Time_hr                    10682 non-null  int32
 28  Arrival_Time_min                   10682 non-null  int32
 29  Dep_Time_hr                        10682 non-null  int32
 30  Dep_Time_min                       10682 non-null  int32
 31  duration_hr                        10682 non-null  int64
 32  duration_min                       10682 non-null  int64
dtypes: int32(29), int64(4)
memory usage: 1.8 MB

In [69]:
cat['Route']

0                    BLR → DEL
1        CCU → IXR → BBI → BLR
2        DEL → LKO → BOM → COK
3              CCU → NAG → BLR
4              BLR → NAG → DEL
                 ...
10678                CCU → BLR
10679                CCU → BLR
10680                BLR → DEL
10681                BLR → DEL
10682    DEL → GOI → BOM → COK
Name: Route, Length: 10682, dtype: object

In [70]:
'BLR → DEL'.split(' → ')

['BLR', 'DEL']

In [71]:
max([len(i.split(' → ')) for i in cat['Route']])

6

In [72]:
cat['Route_1'] = cat['Route'].str.split(' → ').str[0]

In [147]:
cat

           Airline    Source Destination                  Route Route_1
0           IndiGo  Banglore   New Delhi              BLR → DEL     BLR
1        Air India   Kolkata    Banglore  CCU → IXR → BBI → BLR     CCU
2      Jet Airways     Delhi      Cochin  DEL → LKO → BOM → COK     DEL
3           IndiGo   Kolkata    Banglore        CCU → NAG → BLR     CCU
4           IndiGo  Banglore   New Delhi        BLR → NAG → DEL     BLR
...            ...       ...         ...                    ...     ...
10678     Air Asia   Kolkata    Banglore              CCU → BLR     CCU
10679    Air India   Kolkata    Banglore              CCU → BLR     CCU
10680  Jet Airways  Banglore       Delhi              BLR → DEL     BLR
10681      Vistara  Banglore   New Delhi              BLR → DEL     BLR
10682    Air India     Delhi      Cochin  DEL → GOI → BOM → COK     DEL

[10682 rows x 5 columns]

In [153]:
for i in range(1,6):
    cat[f'Route_{i+1}'] = cat['Route'].str.split(' → ').str[i]

In [155]:
cat

,Airline,Source,Destination,Route,Route_1,Route_2,Route_3,Route_4,Route_5,Route_6
0,IndiGo,Banglore,New Delhi,BLR → DEL,BLR,DEL,NaN,NaN,NaN,NaN
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,CCU,IXR,BBI,BLR,NaN,NaN
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,DEL,LKO,BOM,COK,NaN,NaN
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,CCU,NAG,BLR,NaN,NaN,NaN
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,BLR,NAG,DEL,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU → BLR,CCU,BLR,NaN,NaN,NaN,NaN
10679,Air India,Kolkata,Banglore,CCU → BLR,CCU,BLR,NaN,NaN,NaN,NaN
10680,Jet Airways,Banglore,Delhi,BLR → DEL,BLR,DEL,NaN,NaN,NaN,NaN
10681,Vistara,Banglore,New Delhi,BLR → DEL,BLR,DEL,NaN,NaN,NaN,NaN
10682,Air India,Delhi,Cochin,DEL → GOI → BOM → COK,DEL,GOI,BOM,COK,NaN,NaN

In [157]:
cat.isna().sum()

Airline            0
Source             0
Destination        0
Route              0
Route_1            0
Route_2            0
Route_3         3491
Route_4         9116
Route_5        10636
Route_6        10681
dtype: int64

In [159]:
cat.drop(columns=['Route_4','Route_5','Route_6'],inplace=True)

In [161]:
cat

,Airline,Source,Destination,Route,Route_1,Route_2,Route_3
0,IndiGo,Banglore,New Delhi,BLR → DEL,BLR,DEL,NaN
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,CCU,IXR,BBI
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,DEL,LKO,BOM
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,CCU,NAG,BLR
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,BLR,NAG,DEL
...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU → BLR,CCU,BLR,NaN
10679,Air India,Kolkata,Banglore,CCU → BLR,CCU,BLR,NaN
10680,Jet Airways,Banglore,Delhi,BLR → DEL,BLR,DEL,NaN
10681,Vistara,Banglore,New Delhi,BLR → DEL,BLR,DEL,NaN
10682,Air India,Delhi,Cochin,DEL → GOI → BOM → COK,DEL,GOI,BOM

In [165]:
cat.columns

Index(['Airline', 'Source', 'Destination', 'Route', 'Route_1', 'Route_2',
       'Route_3'],
      dtype='object')

In [167]:
cat.drop(columns=['Airline', 'Source', 'Destination'],inplace=True)

In [169]:
cat

                       Route Route_1 Route_2 Route_3
0                  BLR → DEL     BLR     DEL     NaN
1      CCU → IXR → BBI → BLR     CCU     IXR     BBI
2      DEL → LKO → BOM → COK     DEL     LKO     BOM
3            CCU → NAG → BLR     CCU     NAG     BLR
4            BLR → NAG → DEL     BLR     NAG     DEL
...                      ...     ...     ...     ...
10678              CCU → BLR     CCU     BLR     NaN
10679              CCU → BLR     CCU     BLR     NaN
10680              BLR → DEL     BLR     DEL     NaN
10681              BLR → DEL     BLR     DEL     NaN
10682  DEL → GOI → BOM → COK     DEL     GOI     BOM

[10682 rows x 4 columns]

In [171]:
cat.isnull().sum()

Route         0
Route_1       0
Route_2       0
Route_3    3491
dtype: int64

In [173]:
cat['Route_3'].fillna('None',inplace=True)

In [183]:
cat.isna().sum()

Route      0
Route_1    0
Route_2    0
Route_3    0
dtype: int64

# LABEL ENCODING

In [186]:
from sklearn.preprocessing import LabelEncoder

In [188]:
le = LabelEncoder()

In [192]:
for i in cat.columns:
    cat[i]=le.fit_transform(cat[i])

In [194]:
cat

       Route  Route_1  Route_2  Route_3
0         18        0       10       21
1         84        2       20        1
2        118        3       27        4
3         91        2       29        3
4         29        0       29        7
...      ...      ...      ...      ...
10678     64        2        5       21
10679     64        2        5       21
10680     18        0       10       21
10681     18        0       10       21
10682    108        3       12        4

[10682 rows x 4 columns]

In [196]:
final = pd.concat([new_df,cat],axis=1)

In [2]:
final

NameError: name 'final' is not defined

In [200]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 37 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Air Asia                           10682 non-null  int32
 1   Air India                          10682 non-null  int32
 2   GoAir                              10682 non-null  int32
 3   IndiGo                             10682 non-null  int32
 4   Jet Airways                        10682 non-null  int32
 5   Jet Airways Business               10682 non-null  int32
 6   Multiple carriers                  10682 non-null  int32
 7   Multiple carriers Premium economy  10682 non-null  int32
 8   SpiceJet                           10682 non-null  int32
 9   Trujet                             10682 non-null  int32
 10  Vistara                            10682 non-null  int32
 11  Vistara Premium economy            10682 non-null  int32
 12  Banglore                           10682 non-null  int32
 13  Chennai                            10682 non-null  int32
 14  Delhi                              10682 non-null  int32
 15  Kolkata                            10682 non-null  int32
 16  Mumbai                             10682 non-null  int32
 17  Banglore                           10682 non-null  int32
 18  Cochin                             10682 non-null  int32
 19  Delhi                              10682 non-null  int32
 20  Hyderabad                          10682 non-null  int32
 21  Kolkata                            10682 non-null  int32
 22  New Delhi                          10682 non-null  int32
 23  Total_Stops                        10682 non-null  int64
 24  Price                              10682 non-null  int64
 25  day_of_Journey                     10682 non-null  int32
 26  month_of_Journey                   10682 non-null  int32
 27  Arrival_Time_hr                    10682 non-null  int32
 28  Arrival_Time_min                   10682 non-null  int32
 29  Dep_Time_hr                        10682 non-null  int32
 30  Dep_Time_min                       10682 non-null  int32
 31  duration_hr                        10682 non-null  int64
 32  duration_min                       10682 non-null  int64
 33  Route                              10682 non-null  int32
 34  Route_1                            10682 non-null  int32
 35  Route_2                            10682 non-null  int32
 36  Route_3                            10682 non-null  int32
dtypes: int32(33), int64(4)
memory usage: 2.0 MB

In [1]:
[i for i in final.columns if final[i].dtype=='O']

NameError: name 'final' is not defined

# Finshed